<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Figure World - Mô hình đồ chơi Anime | Game</title>
</head>
<body>
<header>
    <!-- <div class="logo">

    </div> -->
    <div class="menu">
        <li>Trang chủ</li>
        <li>Tài khoản</li>
        <li>Thanh toán</li>
        <li>Giới thiệu</li>
        █▀▀ █ █▀▀ █░█ █▀█ █▀▀ █░█░█ █▀█ █▀█ █░░ █▀▄
█▀░ █ █▄█ █▄█ █▀▄ ██▄ ▀▄▀▄▀ █▄█ █▀▄ █▄▄ █▄▀
    </div>
    <div><input type="text" value="Tìm kiếm"><i class="fa fa-search"></i></div>
    <i class="fa fa-bars"></i>
    <i class="fa fa-user-circle"></i>
</header>
</body>
</html>